/*Général*/

body{
	font-family : 'Raleway', sans-serif ;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 1.3em;
	font-weight: bold;
}

h2 , h3{
	font-size: 1em;
	font-weight: bold;
}

p{
	font-size: 1em;
	font-weight: 399 ;
}

a{
	text-decoration: none;
	color: black;
}

li{
	display: flex;
	list-style-type: none;


}

ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

/*Header*/

.header{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.logo{
	width: 90px;
	top: 20px;
	left: 2.5%;
	position: absolute;
}

.header nav{
	display: flex;
	list-style-type: none;
	width: 290px;
	padding-top: 13px;
	margin-top: 0;
	justify-content: flex-end;
	
}

nav li{
	text-align: center;
	padding-top:40px ;
	margin-top: -40px;
	width: 40%;
}

nav li:hover{
	color: #0065fc;
	margin-top: -40px;
	padding-top: 36px;
	border-top: 1.8px solid #0065fc;

}
nav a{
	font-size: 1em;
}

.sinscrire{
	padding-right: 10px;
	padding-top: 13px;
	padding-left: 10px;
}

.sinscrire a{
	font-size: 1em;
	color: #0065FC;
	font-weight: bold;
}
