          /*GENERAL*/

body{
	font-family : 'Raleway', sans-serif ;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 1.3em;
	font-weight: bold;
}

h2 , h3{
	font-size: 1em;
	font-weight: bold;
}

p{
	font-size: 1em;
	font-weight: 400;
}

a{
	text-decoration: none;
	color: black;
}

li{
	display: flex;
	list-style-type: none;


}

ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

           /*HEADER*/

.entete{
	display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
}

.logo{
	width: 100px;
	margin-left: 1rem;
    margin: 2rem;
}

.entete nav{
	display: flex;
    width: 360px;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    padding: 2rem;
}

.entete ul{
	align-items: center;
	width: 100%;
	
}

.entete li {
	align-items: center;
    justify-content: space-between;
}

.heberge {
	border-top: 3px solid #0065FC;
    color: #0065FC;
}

.entete nav a{
	padding: 1rem 0;
	font-weight: 500;
	
}

.entete nav a:hover {
	border-top: 2.5px solid #0065FC;
	color: #0065FC;
}

#sinscrire {
	align-items: center;
    width: auto;
}

#sinscrire a {
	font-size: 1em;
	color: #0065FC;
	font-weight: bold;
}

           /*MAIN*/

.corps {
	width: 95%;
    margin: auto;
    padding-top: 25px;
}

          /*Zône de recherche*/

.recherche {
	margin-left: 15px;
}

.recherche h1{
	margin-bottom: -0.5em;
    font-size: 1.4em;
    font-weight: 900;
}

.recherche form {
    display: flex;
    max-width: 100%;
    overflow: auto;
    height: 50px;
    width: auto;
}

.barreRecherche {
	background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    align-items: center;
}

.recherche form input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    width: 12rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway","Sans serif";
}

#rechercher {
	background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

.bouttonRecherche {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
 
          /* Zône de filtres */

.filtres {
	display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.filtres h2 {
	margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.fil {
	display: flex;
    align-items: center;
    margin-right: 1rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    padding-right: 2rem;
}

.fil:hover {
	background-color: #f2f7ff;
}

.filtres i {
	 background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 1rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin: -1px 6px -1px -2px;
}

.typeFil {
	font-weight: bold;
}

         /* Nombres Logement Disponible */

.chiffresLogement {
	display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

#info {
	display: flex;
	justify-content: center;
	color: #0065FC;
	border: #f2f2f2 solid 2px;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    align-items: center;
    margin-right: 1rem;
}

           /*Hébergement*/

.hebergement {
     display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 13px;
    margin-top: 0px;
}

.logementP,
.logementPopulaire {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

          /*Hébergement à Maseille*/

.logementP {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    height: 80%;
}

.logementP h2 {
    margin: 10px;
    padding-bottom: 20px;
    font-size: 1.4em;
}

.chambres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logements {
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.25rem;
    height: 190px;
    box-shadow: 0 0 16px #0000002e;
    width: 30%; 
    line-height:1em;  
    margin: 15px 0px;
    position: relative;
    padding: 0.380rem;
} 

.logements figure {
    margin: 0;
}

.logements img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius:15px 15px 0 0;
}

.logements h3,
.logementPo h3 {
   margin: 0 0.75rem 0.25rem 0.75rem;
}

.logements p,
.logementPo p {
    padding-left: 12px;
}

.logements div {
     margin: 0 0.75rem 0.25rem 0.75rem;
 }

.notation {
    display: flex;
    margin-left: 8px;
    position: inherit;
    bottom: 5px;
}

.blue-star {
    color: #0065FC;
    font-size: small;
}

.grey-star {
    color: #d9d9d9;
    font-size: small;
}

.plus {
    font-weight: bold;
    padding-top: 25px;
}

           /*Logement Populaire*/

.logementPopulaire {
    padding: 2rem;
    row-gap: 2rem;
    display: grid;
    align-items: start;
    grid-template-rows: auto repeat(3,1fr);
    width: 25%;
    max-width: 600px;
}

.logementPopulaire h2{
    display:flex;
    justify-content: space-between;
    margin: 0 ; 
    margin: 10px;
    padding-bottom: 20px;
    font-size: 1.4em;
}


.logementPo {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
 }

.logementPo {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: auto;
}

.logementPo figure {
    margin: 0;
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.logementPo img {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.logementPo div .notation {
     margin: 0 0.75rem 0.25rem 0.75rem;
}

.texte {
    display: flex;
    flex-direction: column;
}

          /*Partie Activités*/

.activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 26px;
}

.activites h2 {
    margin: 10px;
    padding-bottom: 20px;
    font-size: 1.4em;
}

.regroupements {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    height: 400px;
    width:100%;
}

.regroupements h3 {
    
    padding-left: 15px;
}

.long {
    height: 400px;
    width: 23%;
}

.long img  {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height:359px;
}

.long a {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.court {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 23%;
}

.court a {
    width: 100%;
    height: 180px;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.court img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height:135px;

}


         /*Partie Footer*/

.piedPage {
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 100px;
}

#pied {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    box-sizing: border-box; 
}

.pied {
    padding: 2rem 2rem;
    width: 75%;
}

.pied ul {
    display: block;
}

.pied ul li {
    margin: 1rem 0;
}








